<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/Math/DTD/mathml2/xhtml-math11-f.dtd"><html xmlns="http://www.w3.org/1999/xhtml"><!--This file was converted to xhtml by LibreOffice - see http://cgit.freedesktop.org/libreoffice/core/tree/filter/source/xslt for the code.--><head profile="http://dublincore.org/documents/dcmi-terms/"><meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/><title xml:lang="en-US">- no title specified</title><meta name="DCTERMS.title" content="" xml:lang="en-US"/><meta name="DCTERMS.language" content="en-US" scheme="DCTERMS.RFC4646"/><meta name="DCTERMS.source" content="http://xml.openoffice.org/odf2xhtml"/><meta name="DCTERMS.creator" content="emil"/><meta name="DCTERMS.issued" content="2015-06-06T21:50:00" scheme="DCTERMS.W3CDTF"/><meta name="DCTERMS.modified" content="2015-06-27T00:05:52.488718577" scheme="DCTERMS.W3CDTF"/><meta name="DCTERMS.provenance" content="" xml:lang="en-US"/><meta name="DCTERMS.subject" content="," xml:lang="en-US"/><link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" hreflang="en"/><link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" hreflang="en"/><link rel="schema.DCTYPE" href="http://purl.org/dc/dcmitype/" hreflang="en"/><link rel="schema.DCAM" href="http://purl.org/dc/dcam/" hreflang="en"/><style type="text/css">
	@page {  }
	table { border-collapse:collapse; border-spacing:0; empty-cells:show; margin-top:0.1in; }
	td, th { vertical-align:top; font-size:12pt;}
	h1, h2, h3, h4, h5, h6 { clear:both }
	ol, ul { margin:0; padding:0;}
	li { list-style: none; margin:0; padding:0;}
	<!-- "li span.odfLiEnd" - IE 7 issue-->
	li span. { clear: both; line-height:0; width:0; height:0; margin:0; padding:0; }
	span.footnodeNumber { padding-right:1em; }
	span.annotation_style_by_filter { font-size:95%; font-family:Arial; background-color:#fff000;  margin:0; border:0; padding:0;  }
	* { margin:0;}
	.gr1 { font-size:12pt; font-family:Liberation Serif; writing-mode:lr-tb; min-height:1.611in;min-width:1.3299in;padding-top:0.0902in; padding-bottom:0.0902in; padding-left:0.1736in; padding-right:0.1736in; margin-left:0.1256in; margin-right:0.1256in; vertical-align:top; }
	.P1 { font-size:11pt; line-height:115%; margin-bottom:0.139in; margin-top:0in; font-family:Courier New; writing-mode:lr-tb; }
	.P10 { font-size:16pt; line-height:100%; margin-bottom:0in; margin-top:0in; font-family:RoughTypewriter; writing-mode:lr-tb; text-align:center ! important; }
	.P11 { font-size:16pt; line-height:100%; margin-bottom:0in; margin-top:0in; font-family:RoughTypewriter; writing-mode:lr-tb; }
	.P13 { font-size:11pt; line-height:115%; margin-bottom:0.139in; margin-top:0in; font-family:Courier New; writing-mode:lr-tb; }
	.P14 { font-size:12pt; font-family:Liberation Serif; writing-mode:lr-tb; }
	.P2 { font-size:11pt; line-height:115%; margin-bottom:0in; margin-top:0in; font-family:Calibri; writing-mode:lr-tb; }
	.P3 { font-size:11pt; line-height:100%; margin-bottom:0in; margin-top:0in; font-family:Courier New; writing-mode:lr-tb; }
	.P4 { font-size:11pt; line-height:100%; margin-bottom:0in; margin-top:0in; font-family:Courier New; writing-mode:lr-tb; }
	.P5 { font-size:9pt; line-height:100%; margin-bottom:0in; margin-top:0in; font-family:Courier New; writing-mode:lr-tb; text-align:center ! important; }
	.P6 { font-size:14pt; line-height:100%; margin-bottom:0in; margin-top:0in; font-family:Courier New; writing-mode:lr-tb; }
	.P7 { font-size:14pt; line-height:100%; margin-bottom:0in; margin-top:0in; font-family:Courier New; writing-mode:lr-tb; }
	.P8 { font-size:11pt; line-height:100%; margin-bottom:0in; margin-top:0in; font-family:Calibri; writing-mode:lr-tb; }
	.P9 { font-size:11pt; line-height:100%; margin-bottom:0in; margin-top:0in; font-family:Calibri; writing-mode:lr-tb; }
	.Table1 { width:6.425in; margin-left:-0.0889in; margin-right:auto;writing-mode:lr-tb; }
	.Table2 { width:6.425in; margin-left:-0.0889in; margin-right:auto;writing-mode:lr-tb; }
	.Table1_A1 { vertical-align:middle; padding-left:0.075in; padding-right:0.075in; padding-top:0in; padding-bottom:0in; border-left-width:0,0176cm; border-left-style:solid; border-left-color:#000000; border-right-style:none; border-top-width:0,0176cm; border-top-style:solid; border-top-color:#000000; border-bottom-width:0,0176cm; border-bottom-style:solid; border-bottom-color:#000000; writing-mode:lr-tb; }
	.Table1_A2 { vertical-align:top; padding-left:0.075in; padding-right:0.075in; padding-top:0in; padding-bottom:0in; border-left-width:0,0176cm; border-left-style:solid; border-left-color:#000000; border-right-style:none; border-top-width:0,0176cm; border-top-style:solid; border-top-color:#000000; border-bottom-width:0,0176cm; border-bottom-style:solid; border-bottom-color:#000000; writing-mode:lr-tb; }
	.Table1_D1 { vertical-align:middle; padding-left:0.075in; padding-right:0.075in; padding-top:0in; padding-bottom:0in; border-width:0,0176cm; border-style:solid; border-color:#000000; writing-mode:lr-tb; }
	.Table1_D2 { vertical-align:top; padding-left:0.075in; padding-right:0.075in; padding-top:0in; padding-bottom:0in; border-width:0,0176cm; border-style:solid; border-color:#000000; writing-mode:lr-tb; }
	.Table2_A1 { vertical-align:top; padding-left:0.075in; padding-right:0.075in; padding-top:0in; padding-bottom:0in; border-left-width:0,0176cm; border-left-style:solid; border-left-color:#000000; border-right-style:none; border-top-width:0,0176cm; border-top-style:solid; border-top-color:#000000; border-bottom-width:0,0176cm; border-bottom-style:solid; border-bottom-color:#000000; writing-mode:lr-tb; }
	.Table2_D1 { vertical-align:top; padding-left:0.075in; padding-right:0.075in; padding-top:0in; padding-bottom:0in; border-width:0,0176cm; border-style:solid; border-color:#000000; writing-mode:lr-tb; }
	.Table1_A { width:1.5993in; }
	.Table1_D { width:1.6271in; }
	.Table2_A { width:1.5993in; }
	.Table2_D { width:1.6271in; }
	.T10 { font-family:RoughTypewriter; font-size:16pt; }
	.T2 { font-family:Courier New; }
	.T6 { font-family:RoughTypewriter; text-decoration:underline; }
	.T7 { font-family:RoughTypewriter; text-decoration:underline; }
	.T8 { font-family:RoughTypewriter; font-size:16pt; }
	.T9 { font-family:RoughTypewriter; font-size:16pt; }
	<!-- ODF styles with no properties representable as CSS -->
	.Table1.1 .Table2.1  { }
	</style></head><body dir="ltr" style="max-width:8.2681in;margin-top:0.9839in; margin-bottom:0.9839in; margin-left:0.4839in; margin-right:0.9839in; background-color:#ffffff; "><p class="P13"> </p><div class="P1"/>	
	<span class="T8" style="position:relative;top:0.1in;"><%= meno_value %></span>
	<p class="P3" style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
	<p class="P3"><span> </span><span><%= meno %></span></p><p class="P4"><span style="position:absolute;left:NaNcm;"/></p><p class="P3"><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>    </span></p>
	<div style="position:absolute; top:1in; right:0.7in; border: 1px solid black; width: 1.5in; height: 1.7in; text-align: center; line-height: 1.7in;">
		<img style="vertical-align: middle; max-width: 100%; max-height: 100%" src="Honey-Badger-Dont-Care.jpg" />
	</div>
	<p class="P8">
		<span class="T2"><%= datum_narodenia %></span>
		<span class="T8" style="position:absolute;top:1.89in;">18.10.1951</span>
		<span class="P3" style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
	</p>
	<p class="P3"> </p><p class="P3"><%= miesto_narodenia %> ______________________________</p><p class="P3"> </p><p class="P3"><%= rodne_cislo %> _________________________________</p><p class="P3"> </p><p class="P3"> </p>
	<div style="float:left;">
		<p class="P3">_____________________________</p>
		<p class="P3"><%= nazov_objektu %>:</p>
		<p class="P3"><%= druh_trestneho_cinu %>:</p>
	</div>
	<div style="float:right;">
		<p class="P3">_____________________________</p>
		<p class="P3"><%= adresa_objektu %>:</p>
		<p class="P3"><%= miesto_trestneho_cinu %>:</p>
	</div>
	<div style="clear:both;"></div>
	<table border="0" cellspacing="0" cellpadding="0" class="Table1"><colgroup><col width="178"/><col width="178"/><col width="178"/><col width="181"/></colgroup>
		<tr class="Table11">
			<td style="text-align:left;width:1.5993in; " class="Table1_A1"><p class="P5"><%= registracne %></p><p class="P5"><%= cislo %></p></td>
			<td style="text-align:left;width:1.5993in; " class="Table1_A1"><p class="P5"><%= druh_zvazku %></p><p class="P5">spisu</p></td>
			<td style="text-align:left;width:1.5993in; " class="Table1_A1"><p class="P5"><%= utvar %></p></td>
			<td style="text-align:left;width:1.6271in; " class="Table1_D1"><p class="P5"><%= datum %></p></td>
		</tr>
		<tr class="Table11">
			<td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P8"><span class="T10">  </span><span class="T9"><%= registracne_cislo_value %></span></p></td>
			<td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P10"><%= dovernik %></p></td>
			<td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P10"><%= utvar_value %></p></td>
			<td style="text-align:left;width:1.6271in; " class="Table1_D2"><p class="P10"><%= datum_value %></p></td>
		</tr>
		<tr class="Table11"><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.6271in; " class="Table1_D2"><p class="P11"> </p></td></tr><tr class="Table11"><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.6271in; " class="Table1_D2"><p class="P11"> </p></td></tr></table><p class="P3"> </p><p class="P3"> </p><p class="P3"><%= zaznamy %></p><table border="0" cellspacing="0" cellpadding="0" class="Table2"><colgroup><col width="178"/><col width="178"/><col width="178"/><col width="181"/></colgroup><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P9"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr></table><p class="P3"> </p></body></html>