<div class="page-wrapper">
  <p class="P13"> </p><div class="P1"></div> 
  <span class="T8" style="position:relative;top:0.1in;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= meno_value %></span>
  <p class="P3" style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  <p class="P3"><span> </span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= meno %></span></p>
  <p class="P3"><span> </span><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= menoENDE %></span></p><p class="P4"><span style="position:absolute;left:0.1in;"/></p><p class="P3"><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span> </span><span>    </span></p>
  <div style="position:absolute; top:0in; right:0in; border: 1px solid black; width: 1.5in; height: 1.7in; text-align: center; line-height: 1.7in;">
    <img style="vertical-align: middle; max-width: 100%; max-height: 100%" src="<%= fotka %>" />
  </div>
<br>
<br>
  <p class="P8">
    <span class="T2"><%= datum_narodenia %></span>
    <span class="T8" style="position:absolute;top:1.5in;">&nbsp;18.10.1951       </span>
    <span class="P3" style="text-decoration:underline;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  </p>
  <p class="P3"> </p><p class="P3"><%= miesto_narodenia %> _____________________</p><p class="P3"> </p><p class="P3"><%= rodne_cislo %> ____________</p><p class="P3"> </p><p class="P3"> </p>
  <div style="float:left;">
    <p class="P3">_____________________________</p>
    <p class="P15"><span> </span><span> </span><span> </span></p>
    <p class="P3"><%= nazov_objektu %>:</p>
    <p class="P3"><%= nazov_objektuDE %>:</p>
    <p class="P3"><%= druh_trestneho_cinu %>/</p>
    <p class="P3"><%= druh_trestneho_cinuENDE %>:</p>
  </div>
  <div style="float:right;">
    <p class="P3">_____________________________</p>
    <p class="P15"><span> </span><span> </span><span> </span></p>
    <p class="P3"><%= adresa_objektu %>/</p>
    <p class="P3"><%= adresa_objektuENDE %>:</p>
    <p class="P3"><%= miesto_trestneho_cinu %>/</p>
    <p class="P3"><%= miesto_trestneho_cinuENDE %>:</p>
  </div>
  <div style="clear:both;"></div>
  <table border="0" cellspacing="0" cellpadding="0" class="Table1"><colgroup><col width="178"/><col width="178"/><col width="178"/><col width="181"/></colgroup>
    <tr class="Table11">
      <td style="text-align:left;width:1.75in; " class="Table1_A1"><p class="P5"><%= registracne %></p><p class="P5"><%= cislo %></p></td>
      <td style="text-align:left;width:1.544in; " class="Table1_A1"><p class="P5"><%= druh_zvazku %>/</p><p class="P5"><%= druh_zvazkuENDE %></p></td>
      <td style="text-align:left;width:1.554in; " class="Table1_A1"><p class="P5"><%= utvar %></p><p class="P5"><%= utvarENDE %></p></td>
      <td style="text-align:left;width:1.577in; " class="Table1_D1"><p class="P5"><%= datum %></p></td>
    </tr>
    <tr class="Table11">
      <td style="text-align:left;vertical-align: middle;width:1.75in; " class="Table1_A2"><p class="P8"><span class="T10">  </span><span class="T9"><%= registracne_cislo_value %></span></p></td>
      <td style="text-align:left;width:1.544in; " class="Table1_A2"><p class="P10"><%= dovernik %></p></td>
      <td style="text-align:left;width:1.554in; " class="Table1_A2"><p class="P10"><%= utvar_value %></p></td>
      <td style="text-align:left;width:1.577in; " class="Table1_D2"><p class="P10"><%= datum_value %></p></td>
    </tr>
    <tr class="Table11"><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.6271in; " class="Table1_D2"><p class="P11"> </p></td></tr><tr class="Table11"><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.5993in; " class="Table1_A2"><p class="P11"> </p></td><td style="text-align:left;width:1.6271in; " class="Table1_D2"><p class="P11"> </p></td></tr>
  </table>
  <p class="P3"> </p><p class="P3"> </p><p class="P3"><%= zaznamy %></p><p class="P3"><%= zaznamyEN %></p><p class="P3"><%= zaznamyDE %></p>
  <table border="0" cellspacing="0" cellpadding="0" class="Table2">
    <colgroup><col width="178"/><col width="178"/><col width="178"/><col width="181"/></colgroup><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P9"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr><tr class="Table21"><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p><p class="P6"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.5993in; " class="Table2_A1"><p class="P7"> </p></td><td style="text-align:left;width:1.6271in; " class="Table2_D1"><p class="P7"> </p></td></tr>
  </table>
  <p class="P3"> </p>
</div>